{% extends 'base.html' %}

{% block head %}
  <meta charset="utf-8">
  <title>ページタイトル</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_pet.css') }}">
{% endblock %}

{% block content %}
    <h2>ペット情報の編集</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(size=20) }}
        </div>
        <div class="form-group">
            {{ form.species.label }} {{ form.species(size=20) }}
        </div>
        <div class="form-group">
            {{ form.birthday.label }} {{ form.birthday }}
        </div>
        <div class="form-group">
            {{ form.weight.label }} {{ form.weight }}
        </div>
        <div class="form-group">
            {{ form.sex.label }} {{ form.sex }}
        </div>
        <div class="form-group">
            {{ form.image.label }} {{ form.image }}
        </div>
        <input type="submit" value="保存" class="btn btn-primary">
    </form>
{% endblock %}
